aside.b-sidebar.j-scrollbar
    .b-sidebar-header
        .b-dropdown
            .b-sidebar-header__title.b-dropdown__trigger.j-dropdown__trigger(data-target="mainmenu")
                | Торговая платформа полного цикла Pokupo
            .b-sidebar-header__menu.b-dropdown__content.g-hidden(data-target="mainmenu")
                ul.b-menu
                    li.b-menu__item
                        a.b-menu__link(href=js0) Учётная запись
                    li.b-menu__item
                        a.b-menu__link(href=js0) Условия
                    li.b-menu__item
                        a.b-menu__link(href=js0) Конфиденциальность
                    li.b-menu__item
                        a.b-menu__link.m-menu__link_logout(href=js0) Выйти

    .b-shop
        .b-shop__image
            img(src='images/logo/shop-1.png', alt='')
        .b-shop__data
            span.b-shop__data-name 
                | Торговая
                br
                | платформа полного цикла «Депозитстрой»

        .b-shop__control
            .b-inline-sorter.b-dropdown.b-selector
                span.b-selector__current.b-dropdown__trigger.j-dropdown__trigger(data-target="sort") Сменить магазин
                div.b-dropdown__content.b-selector__options.g-hidden(data-target="sort")
                    ul.b-menu
                        li.b-menu__item
                            a.b-menu__link(href=js0) Pokupo

                        li.b-menu__item.active
                            a.b-menu__link(href=js0) Торговая платформа полного цикла «Депозитстрой»
                        
                        li.b-menu__item
                            a.b-menu__link(href=js0) Магазин низких цен

                        li.b-menu__item
                            a.b-menu__link(href=js0) Золото-брильянты

    .b-sidebar-search
        form(role='form')
            i.b-icon.m-icon_search
            input.b-sidebar-search__input(type='text', name='search', placeholder='Поиск...')

    ul.b-sidebar-navigation.b-menu(role="navigation")
        li.b-menu__item
            a.b-menu__link(href=js0)
                span.b-icon.m-icon_home
                span.sidebar__text Панель управления
        li.j-another-tooltip.b-menu__item
            a.b-menu__link(href=js0, target='_blank')
                span.b-icon.m-icon_shop
                span.sidebar__text Магазины
        li.b-menu__item.m-menu__item_openable
            a.b-menu__link(href=js0)
                span.b-icon.m-icon_goods
                span.sidebar__text Товары
            ul.b-menu.m-menu_2
                li.b-menu__item
                    a.b-menu__link(href=js0)
                        span.b-icon
                        | Я уверен,
                li.b-menu__item
                    a.b-menu__link(href=js0)
                        span.b-icon
                        | что потребуется
                li.b-menu__item
                    a.b-menu__link(href=js0)
                        span.b-icon
                        | дополнительный       
                li.b-menu__item.m-menu__item_openable
                    a.b-menu__link(href=js0)
                        span.b-icon.m-icon_users
                        | уровень вложенности
                    ul.b-menu.m-menu_3
                        li.b-menu__item
                            a.b-menu__link(href=js0)
                                span.b-icon
                                | (И, наверное,
                        li.b-menu__item
                            a.b-menu__link(href=js0)
                                span.b-icon
                                | не один,
                        li.b-menu__item
                            a.b-menu__link(href=js0)
                                span.b-icon
                                | а несколько —
                        li.b-menu__item
                            a.b-menu__link(href=js0)
                                span.b-icon
                                | как минимум, два)
                li.b-menu__item
                    a.b-menu__link(href=js0)
                        span.b-icon.m-icon_comments
                        | для дальнейшего
                li.b-menu__item
                    a.b-menu__link(href=js0)
                        span.b-icon.m-icon_calendar
                        | расширения меню
        li.b-menu__item
            a.b-menu__link(href=js0)
                span.b-icon.m-icon_sales
                span.sidebar__text Продажи               
        li.b-menu__item
            a.b-menu__link(href=js0)
                span.b-icon.m-icon_docs
                span.sidebar__text Бухгалтерия
        li.b-menu__item
            a.b-menu__link(href=js0)
                span.b-icon.m-icon_users
                span.sidebar__text Клиенты

    .b-sidebar-footer
        ul.b-sidebar-footer__actions
            li.b-sidebar-footer__actions-item
                span.b-sidebar-footer__action.b-icon.m-icon_settings
                    span.b-tooltip.m-tooltip_left Настройки
            li.b-sidebar-footer__actions-item
                span.b-sidebar-footer__action.b-icon.m-icon_cart
                    span.b-tooltip Заказы
            li.b-sidebar-footer__actions-item
                span#js-video.b-sidebar-footer__action.b-icon.m-icon_help
                    span.b-tooltip.m-tooltip_right Помощь